################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/HelloWorldApp/bin/
/HelloWorldApp/obj
/HelloWorldApp/HelloWorldApp/bin/
/HelloWorldApp/HelloWorldApp/obj
/HelloWorldApp/.vs/
/HelloWorldApp/HelloWorldTests/obj
/HelloWorldApp/HelloWorldTests/bin/Debug/net8.0
/HelloWorldApp/HelloWorldTests/bin/Release/net8.0
