################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/HelloWorldApp/bin/
/HelloWorldApp/obj
/HelloWorldApp/HelloWorldApp/bin/
/HelloWorldApp/HelloWorldApp/obj
/HelloWorldApp/.vs/