################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorldApp/.vs/HelloWorldApp
/HelloWorldApp/bin/
/HelloWorldApp/obj
/.vs/
/HelloWorldApp/HelloWorldApp/bin/
/HelloWorldApp/HelloWorldApp/obj
